{% extends "base.html" %}

{% block content %}
    <h1>Criar Ordem de Serviço</h1>
    <form action="/ordens_de_servico/" method="POST">
        <label for="cliente_id">Cliente ID:</label>
        <select name="cliente_id" id="cliente_id" required>
            {% for cliente in clientes %}
                <option value="{{ cliente.id }}">{{ cliente.nome }}</option>
            {% endfor %}
        </select><br><br>

        <label for="descricao">Descrição:</label>
        <input type="text" id="descricao" name="descricao" required><br><br>

        <label for="status">Status:</label>
        <input type="text" id="status" name="status" value="Em andamento"><br><br>

        <label for="data_abertura">Data de Abertura:</label>
        <input type="datetime-local" id="data_abertura" name="data_abertura" required><br><br>

        <button type="submit">Criar Ordem</button>
    </form>
{% endblock %}
